{% extends "plantilla.html" %}

{% block content %}
    <h1>Inventario</h1>
      <div class="container">
        <div class="lista-autos" id="lista">
            <div class="auto" id="auto-plantilla">
                <img class="imagen" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png">
                <div  class="datos">
                    <p class="nombre">Marca Modelo</p>
                    <p class="año">2024</p>
                    <p class="precio">$999.999</p>
                    <p class="tiempo">Ingresado hace 2 dias.</p>
                </div>
            </div>
        </div>
      </div>
{% endblock content %}