{% extends "plantilla.html" %}

{% block content %}
    <h1>Inventario</h1>
      <div class="container">
        <div class="lista-autos" id="lista">
            {% for i in autos %}
            <div class="auto" id="auto-plantilla">
                {% if i.imagen %}
                <img class="imagen" src="{{ i.imagen.url }}">
                {% else %}
                <img class="imagen" src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png">
                {% endif %}
                <div  class="datos">
                    <p class="nombre">{{ i.marca }} {{i.modelo}}</p>
                    <p class="año">{{i.año}}</p>
                    <p class="precio">{{i.precio}}</p>
                    <p class="tiempo">{{i.fecha}}</p>
                </div>
            </div>
            {% endfor %}
            
        </div>
      </div>
{% endblock content %}